stages:
  - mirror
  - test
  - build
  - deploy
  - release
  - botstart
  - docstats


github_mirror:
  stage: mirror
  tags:
    - github_namboy94_push
  script:
    - git checkout master
    - git pull
    - git push git@github.com:namboy94/kudubot.git master -f
    - git checkout develop
    - git pull
    - git push git@github.com:namboy94/kudubot.git develop -f

stylecheck:
  stage: test
  tags:
    - pycodestyle
  script:
    - pycodestyle .

run_unit_tests_python_2:
  stage: test
  tags:
    - python2
    - 3to2
  script:
    - 3to2 . --write
    - python2 setup.py test

run_unit_tests_python_3_with_coverage:
  stage: test
  tags:
    - python3
  script:
    - python3 setup.py nosetests
      --with-coverage --cover-package=kudubot --cover-branches --cover-erase --cover-html --cover-inclusive

build_external_services:
  stage: build
  only:
    - master
  tags:
    - gradle
    - cargo
    - python
  script:
    - mkdir -p artifacts
    - python build-external.py artifacts
  artifacts:
    paths:
      - artifacts/*

pypi_dist:
  stage: deploy
  only:
    - master
  tags:
    - python2
    - python3
    - pypi
  script:
    - python3 setup.py register sdist upload
    - python3 setup.py bdist_wheel upload
    - 3to2 . --write
    - rm -rf dist
    - python2 setup.py bdist_wheel
    - twine upload dist/*

distribute_bindings:
  stage: deploy
  only:
    - master
  tags:
    - cargo
    - python
  script:
    - python publish-bindings.py

upload_release_to_github:
  stage: release
  only:
    - master
  tags:
    - python
  script:
    - mkdir -p artifacts
    - git clone https://gitlab.namibsun.net/namboy94/ci-scripts.git
    - python ci-scripts/src/changelog-reader/changelog-reader.py -c CHANGELOG -d current_changelog
    - python ci-scripts/src/github-release-uploader/github-release-uploader.py namboy94 kudubot $GITHUB_ACCESS_TOKEN
      $(python3 setup.py -V) current_changelog artifacts -b master

upload_release_to_gitlab:
  stage: release
  only:
    - master
  tags:
    - python
  script:
    - mkdir -p artifacts
    - git clone https://gitlab.namibsun.net/namboy94/ci-scripts.git
    - python ci-scripts/src/changelog-reader/changelog-reader.py -c CHANGELOG -d  current_changelog
    - python ci-scripts/src/gitlab-release-uploader/gitlab-release-uploader.py namboy94 kudubot $GITLAB_ACCESS_TOKEN
      $(python3 setup.py -V) current_changelog artifacts -b master -u https://gitlab.namibsun.net

#start_whatsapp_and_telegram:
#  stage: botstart
#  only:
#    - master
#  tags:
#    - kudubot-systemd
#  script:
#    - pip install --user --upgrade --upgrade-strategy only-if-needed kudubot
#    - kudubot-config-gen -s --remove-executable-service-files
#    - echo $WHATSAPP_CONFIG > $HOME/.kudubot/connection_config/whatsapp.conf
#    - echo $TELEGRAM_CONFIG > $HOME/.kudubot/connection_config/telegram.conf
#    - python build-external.py
#    - sudo systemctl restart kudubot-whatsapp.service
#    - sudo systemctl restart kudubot-telegram.service

generate_sphinx_documentation:
  stage: docstats
  only:
    - master
    - develop
  tags:
    - sphinx
    - latex
    - docs
  script:
    - cd doc
    - make buildsource
    - make latexpdf
    - make html
