[Unit]
Description=KudubotTelegram
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/gitlab-runner/kudubot/bin/kudubot telegram
User=gitlab-runner

[Install]
WantedBy=multi-user.target