[Unit]
Description=KudubotWhatsapp
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/gitlab-runner/kudubot/bin/kudubot whatapp
User=gitlab-runner

[Install]
WantedBy=multi-user.target